[submodule "test/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/libverilog"]
	path = thirdparty/libverilog
	url = https://github.com/xtofalex/libverilog
